<%include header%>
<%include navigator%>
<div class="row col-md-12">
    <div class="jumbotron-fluid">
        <h2 class="page-header">Lighting</h2>
        <p>Home Automation Lighting</p>
    </div>


    <div class="col-lg-3">
        <div class="card card-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-block center-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-block">
            <img class="card-img-top center-block" data-src="..." src="images/light-bulb-2-512.jpg" alt="Lighting" height="50%" width="50%">
            <p class="card-title">With suppporting text below as a natural lead-in</p>
        </div>
    </div>


</div>
<%include footer%>